{% set CatalogColumn1 = [ {title: 'Котельное оборудование', image: 'kotel.jpg', list: ['Газовые', 'Электрические', 'Твердотопливные',
'Комплектующие', 'Автоматика', 'Дымоходы']}, {title: 'Котельная арматура', image: 'kotel_armatura.jpg', list: ['Распределительные',
'Насосные группы', 'Гидрострелки', 'Узлы для теплого пола', 'Сервоприводы', 'Комплектующие']}, {title: 'Запорная арматура',
image: 'zapornaya_armatura.jpg', list: ['Шаровые краны', 'Задвижки', 'Обратные клапаны', 'Сетчатые фильтры', 'Вентили для
радиаторов', 'Мультифлексы', 'Клапаны для бытовой техники', 'Термостатические вентили', 'Сервоприводы', 'Термоголовки']},
{title: 'Канализация', image: 'sewerege.png', list: ['Шумопоглощающая канализация']}, {title: 'Инструмент', image: 'tools.jpg',
list: ['Для труб сшитого полиэтилена', 'Для резки труб']} ] %}

{% set CatalogColumn2 = [ {title: 'Насосы', image: 'nasos.jpg',
list: ['Циркуляционные', 'Скважинные', 'Колодецные', 'Дренажные', 'Насосные станции', 'Канализационные', 'Комплектующие']},
{title: 'Предохранит. арматура', image: 'predohr_armatura.jpg', list: ['Группы безопасности', 'Предохранительные клапаны',
'Воздухоотводчики', 'Редукторы давления', 'Перепускные клапаны', 'Подпиточные клапаны', 'Обратные клапаны', 'Соленоидные
клапаны', 'Амортизаторы гидроударов', 'Защита от протечек воды']}, {title: 'Автоматика', image: 'automatics.jpg', list: ['Термостаты',
'Управляющие модули', 'GSM климат', 'Температурные датчики', 'Реле']}, {title: 'Контрольно-измерительная арматура', image:
'kontrolno_izm_armatura.jpg', list: ['Манометры', 'Термометры', 'Термоманометры', 'Комплектующие', 'Термостаты', 'Реле']}]
%}

{% set CatalogColumn3 = [ {title: 'Радиаторы', image: 'radiator.jpg', list: ['Биметаллические', 'Алюминиевые', 'Стальные',
'Комплектующие']}, {title: 'Трубы', image: 'pipes.jpg', list: ['Сшитый полиетилен', 'Гофра']}, {title: 'Коллекторы и аксессуары',
image: 'collectors.jpg', list: ['Коллекторные группы', 'Распределительные коллекторы для воды', 'Коллекторные шкафы', 'Группы
автономной', 'Комплектующие']}, {title: 'Регулирующая арматура', image: 'regulir_armatura.jpg', list: ['Трехходовые смесители',
'Термостатические смесители', 'Балансировочные клапаны', 'Сервоприводы', 'Вентили для радиаторов', 'Термоголовки', 'Термостатические
вентили для радиаторов', 'Мультифлексы']}, {title: 'Электрооборудование', image: 'electro.jpg', list: ['Стабилизаторы напряжения',
'Источники бесперебойного питания', 'Защита от скачков напряжения', 'Аварийное освещение']} ] %} 

{% set CatalogColumn4 =
[ {title: 'Водонагреватели и бойлеры', image: 'boyler.jpg', list: ['Электрические', 'Косвенного нагрева', 'Комбинированные',
'Комплектующие']}, {title: 'Фитинги для труб', image: 'fitingi.jpg', list: ['Для труб из сшитого', 'Фитинги резьбовые', 'Фитинги
для коллекторов']}, {title: 'Мембранные баки', image: 'membrannu_bloki.jpg', list: ['Для систем отопления', 'Для водоснабжения',
'Комплектующие']}, {title: 'Фильтры', image: 'filters.jpg', list: ['Самопромывные', 'Для водоснабжения', 'Картриджи', 'Грубой
очистки']}, {title: 'Теплые полы', image: 'teplie_polu.jpg', list: ['Маты', 'Кабели', 'Термостаты', 'Комплектация для водяного
ТП']}, {title: 'Расходные материалы', image: 'rashod_material.jpg', list: ['Герметики анаэробные', 'Лен', 'Крепеж', 'Заглушки']}
] %} 

{% macro CatalogColumn(column) %} 
{% for list in column %}
<div class="catalog__item">
    <h4 class="catalog__title">
        {{list.title}}
    </h4>
    <div class="catalog__image">
        <img src="img/products/{{list.image}}" alt="{{list.title}}">
    </div>
    <ul class="catalog__list">
        {% for item in list.list %}
        <li class="catalog__list-item">{{item}}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %} 
{% endmacro %}

<div class="catalog row">
    <div class="col3">
        {{CatalogColumn(CatalogColumn1)}}
    </div>
    <div class="col3">
        {{CatalogColumn(CatalogColumn2)}}
    </div>
    <div class="col3">
        {{CatalogColumn(CatalogColumn3)}}
    </div>
    <div class="col3">
        {{CatalogColumn(CatalogColumn4)}}
    </div>
</div>